@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 150px;  
    display: flex;
    align-items: center;
    z-index: 100;
}
.navigation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.navigation a {
    
    text-align: center;
    text-decoration: none;
    color: rgb(186, 159, 21);
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(186, 159, 21);;
    color: white;
    font-weight: 600;
}

.navigation a:hover {
    color: white;
    background-color: rgb(133, 113, 15);
    border-radius: 20px;
}

/* Efeito Parallax principal */

.parallax {
    position: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    margin-top: -100px;
    
    position: relative;
    background-color: black;
    padding: 100px;
}

.sec h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px yellow;
}

.sec p {
    padding-top: 60px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 50px;
    text-indent: 100px;
    text-align: justify;
    padding-bottom: 100px;
}

#javascript {
    position: absolute;
    top: 6%;
    transform: rotate(-20deg);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(209, 209, 209, 0.537);
}

#principal h2 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 30px;
}


h3 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 40%;
}

a.aCards {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.pCards {
    font-size: 2.0em;
    color: white;
    
    text-align: center;
}

#allCards {
    display: flex;
    justify-content: center;
    background-color: black;
    
}

.cards {
    padding-top: 30px;
    margin: 20px;
    width: 200px;
    height: 350px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.455), #ede892a9, #dcdcc18e);
    animation: colors 7s ease infinite;
    background-size: 300%, 300%;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    color: white;
    box-shadow: 5px 5px 23px rgba(255, 255, 255, 0.448);
    text-shadow: 1px 1px 0px black;
    transition: 0.3s ease;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

div.cards:hover {
    width: 220px;
    height: 380px;
    background: linear-gradient(45deg, rgba(246, 249, 69, 0.681), #ffea4b6d, #fcf5bc);
    animation: colors 7s ease infinite;
    background-size: 300%, 300%;
}

.cards a {
    font-weight: bold;
    color: rgba(236, 236, 15, 0.75);
    text-shadow: 1px 1px 1px rgb(232, 232, 227);
}