@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 150px;  
    display: flex;
    align-items: center;
    z-index: 100;
}
.navigation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.navigation a {
    
    text-align: center;
    text-decoration: none;
    color: rgb(186, 159, 21);
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(186, 159, 21);;
    color: white;
    font-weight: 600;
}

.navigation a:hover {
    color: white;
    background-color: rgb(133, 113, 15);
    border-radius: 20px;
}

/* Efeito Parallax principal */

.parallax {
    position: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    margin-top: -100px;
    
    position: relative;
    background-color: black;
    padding: 100px;
}

.sec h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px yellow;
}

.sec p {
    padding-top: 60px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 50px;
    text-indent: 100px;
    text-align: justify;
    padding-bottom: 100px;
}

#javascript {
    position: absolute;
    top: 6%;
    transform: rotate(-20deg);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(209, 209, 209, 0.537);
}

#principal h2 {
    color: white;
    text-align: center;
    font-size: 2.5em;
}

div#cartas {
    display: flex;
    justify-content: center;
    text-align: center;
}

.face {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    
    
}

div#login {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    transform-style: preserve-3d;
}

div#calc {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 70%;
    transform-style: preserve-3d;
}

div#netflix {
    position: absolute;
    left: 45%;
    transform-style: preserve-3d;
}

#front {
   position: absolute;

}
.flip {
    transform: rotateY(180deg);
}